body {
    text-align:center;
    /* min-height: 1000px; */
}

.hero {
    flex-wrap: wrap;
    padding: 6rem;
}

.header {
    font-family: "Poltawski Nowy";
    font-size: 60px;
    padding-top: 6rem;
}

p {
    font-family: "Montserrat";
    opacity: 50%;
    padding-bottom: 4rem;
}

.img {
    width: 40rem;
    height: 30rem;
}

navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height:70px;
    font-color: black;
    margin-bottom: 50rem;
    /* background-color: #159895;
    background-image: linear-gradient(to right, #159895, #019267);    */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

img {
    width: 80px;
    height: 60px;
}

.about h1 {
    text-align: center;
    height: 30rem;
    padding: 3rem;
    color: #fff;
    background-color: #019267;
}

img {
    padding-top: rem;
}

button {
    border: none;
    color: #fff;
    background-color:  #019267;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.navbar-nav {
    cursor: pointer;
}

.navbar-nav .dropdown .dropdown-menu {
    left: -120px;
}

footer {
    background-color: #159895;
    background-image: linear-gradient(to right, #159895, #019267);
    position: absolute;
    width: 100%;
    height: 25rem;
}