body {
    text-align:center;
    min-height: 2000px;
}

.hero {
    flex-wrap: wrap;
    padding: 6rem;
}

.header {
    font-family: 'Roboto', san-serif;
    font-size: 60px;
    padding-top: 8rem;
}

p {
    font-family: "Montserrat";
    opacity: 50%;
    padding-bottom: 4rem;
}

.img {
    width: 45rem;
    height: 40rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 10px;
    padding: 15px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin: 30px;
    font-size: 19px;
    font-weight: 500;
}

.nav a:hover {
    color: black;
}

.nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #0A6EBD;
    margin: auto;
    display: block;
}

.nav a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height:70px;
    font-color: black;
    margin-bottom: 50rem;
    /* background-color: #159895;
    background-image: linear-gradient(to right, #159895, #019267);    */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

img {
    width: 80px;
    height: 60px;
    image-rendering: optimizeQuality;
    obejct-fit: cover;
}

.about h1 {
    text-align: center;
    height: 30rem;
    padding: 3rem;
    color: #fff;
    background-color: #019267;
}

button {
    border: none;
    color: #fff;
    background-color:  blue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.navbar-nav {
    cursor: pointer;
    color: black;
}

.navbar-nav .nav-item:hover {
    cursor: pointer;
    color: #159895;
}

.navbar-nav:hover {
    /* color: #fff; */
}

.navbar-nav .dropdown .dropdown-menu {
    left: -120px;
}

footer {
    background-color: #159895;
    background-image: linear-gradient(to right, #159895, #019267);
    position: absolute;
    width: 100%;
    height: 20rem;
}

.box {
    display: flex;
    justify-content: center;
    height: 40rem;
    width: 100%;
    background-color: #0A6EBD;
}

.image img {
    height: 400px;
    width: 500px;
    margin-bottom: 10rem;
}

.box 
.image, 
.content {
    margin: 40px;
    margin-top: 10rem;
    color: white;
}

.content a {
    background-color: #fff;
}

.content button:hover {
    background-color: #eee;
}

a:hover {
    color: #159895;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #1b632c;
}

.total {
    font-size: 23px;
    margin-left: 20px;
    color: #28a745;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 10px;
    padding: 15px;
}

.flexbox a {
    color: black;
    text-decoration: none;
    font-size: 17.5px;
}

.flexbox a:hover {
    color: #28a745;
}